{%extends 'layout.html'%}

{%block head%}
<title>Beranda-WasthuStore</title>
{%endblock%}

{%block body%}
<!-- <div><img src="{{url_for('static', filename='5295526.jpg')}}" alt="" class="bg"></div> -->
<div class="container">

    <h2 class="text-white">Best Seller</h2>
</div>
<div class="container text-center">
    <div class="row row-cols-4">

        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Honkai Star Rail">
                <img src="{{url_for('static', filename='topup1.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Honkai Star Rail</h5>
                </div>
            </a>
        </div>

        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Genshin Impact">
                <img src="{{url_for('static', filename='topup2.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Genshin Impact</h5>
                </div>
            </a>
        </div>

        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Arknight">
                <img src="{{url_for('static', filename='topup3.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Arknight</h5>
                </div>
            </a>
        </div>

        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Punishing Gray Raven">
                <img src="{{url_for('static', filename='topup5.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Punishing Gray Raven</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Honkai Impact 3rd">
                <img src="{{url_for('static', filename='topup4.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Honkai Impact 3rd</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Mobile Legend Bang Bang">
                <img src="{{url_for('static', filename='topup6.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Mobile Legend Bang Bang</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Valorant">
                <img src="{{url_for('static', filename='topup7.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Valorant</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Free Fire">
                <img src="{{url_for('static', filename='topup8.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Free Fire</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Guardian Tales">
                <img src="{{url_for('static', filename='topup9.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Guardian Tales</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Arena Of Valor">
                <img src="{{url_for('static', filename='topup14.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Arena Of Valor</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/PUBG Mobile">
                <img src="{{url_for('static', filename='topup11.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">PUBG Mobile</h5>
                </div>
            </a>
        </div>
        <div class="card border-info m-3 p-2 kartu" style="width: 15rem;">
            <a href="/auth/Metal Slug : Awakening">
                <img src="{{url_for('static', filename='topup12.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Metal Slug : Awakening</h5>
                </div>
            </a>
        </div>

    </div>
</div>

{%endblock%}