{%extends 'layout.html'%}

{%block head%}
<title>Login</title>
{%endblock%}

{%block body%}

<div>
    <img src="{{url_for('static', filename='5295526.jpg')}}" alt="" class="bg">
</div>

<div class="text-white container mb-5 mt-5 p-2">
    <div class="row justify-content-md-center">
        <div class="col col-12 col-md-5">
            <img src="{{url_for('static', filename='jingliu-login.png')}}" alt="" class="maskot">
        </div>
        <div class="col col-12 col-md-5 ">
            <h3>Masuk dan nikmati kemudahan dalam melakukan Topup</h3>

            <ul class="tab nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="tab1 nav-item " role="presentation">
                    <button class="tab nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Dengan Email</button>
                </li>
                <li class="tab1 nav-item" role="presentation">
                    <button class="nav-link " id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Dengan No.Telp</button>
                </li>
            </ul>
            <div class=" tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">
                    <!-- tap 1 -->
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Email</label>
                        <input type="email" class="form-control" id="formGroupExampleInput2"
                            placeholder="Masukan Email">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput3" class="form-label">Password</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2"
                            placeholder="Masukan Password">
                        <a class="float-sm-end lupa" href="forgot">lupa kata sandi?</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">
                    <!-- tap 2 -->
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">No.Telp</label>
                        <input type="tel" class="form-control" id="formGroupExampleInput2"
                            placeholder="Masukan No.Telp">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput3" class="form-label">Password</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2"
                            placeholder="Masukan Password">
                        <a class="float-sm-end lupa" href="forgot">lupa kata sandi?</a>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-outline-info btn-lg" style="width: 100%;">Masuk</button>
            <a class="daftar" href="register">Belum memiliki akun?</a>
        </div>
    </div>
</div>
{%endblock%}